django ~= 4.0
Whoosh
haystack
sqlparse
Pillow
geoip2
# django-geoip2-extras
django-haystack >= 3.0b1
django-mysql ~= 4.0
mysqlclient ~= 2.0
wheel_filename ~= 1.2
social_auth_app_django ~= 5.0
# ChimeraX-specific packages
pkginfo
packaging
