{% extends "nav_panel.html" %}
{% load app_buttons %}

{% block main %}
  <style type="text/css">
    h2 { margin-bottom: 0.5em; }
    .span4 { margin-bottom: 1em; }
  </style>

  {% if cx_platform == "" %}
  <div class="row">
    <div class="span8">
      <i>The best way to use the Toolshed is by running the
      <a href="https://www.rbvi.ucsf.edu/chimerax/">ChimeraX</a> application
      and clicking <b>More Tools...</b> in the <b>Tools</b> menu.
      Then you can directly install bundles into ChimeraX,
      instead of downloading the bundle and installing it separately.</i>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="span4"><h2>Newest Releases</h2></div>
  </div>
  <div class="row">{% app_buttons latest_apps cx_platform %}</div>
  <div class="row">
    <div class="span8" style="text-align: right;">
      <a href="{% url 'all_apps_newest'%}{{ cx_platform|safe }}#newest release">more newest releases &raquo;</a>
    </div>
  </div>

  <div class="row"><div class="span8"><h2>Top Downloaded Bundles</h2></div></div>
  <div class="row">{% app_buttons downloaded_apps cx_platform %}</div>
  <div class="row">
    <div class="span8" style="text-align: right;">
      <a href="{% url 'all_apps_downloads'%}{{ cx_platform|safe }}#downloads">more top downloads &raquo;</a>
    </div>
  </div>
{% endblock %}
