{% extends "nav_panel.html" %}
{% load url from future %}
{% load app_buttons %}

{% block main %}
  <style type="text/css">
    h2 { margin-bottom: 0.5em; }
    .span4 { margin-bottom: 1em; }
  </style>
  <div class="row">
    <div class="span4"><h2>Newest Releases</h2></div>
  </div>
  <div class="row">{% app_buttons latest_apps cx_platform %}</div>
  <div class="row">
    <div class="span4" style="text-align: right;">
      <a href="{% url 'all_apps'%}{{ cx_platform|safe }}#newest release">more newest releases &raquo;</a>
    </div>
  </div>

  <div class="row"><div class="span4"><h2>Top Downloaded Bundles</h2></div></div>
  <div class="row">{% app_buttons downloaded_apps cx_platform %}</div>
  <div class="row">
    <div class="span4" style="text-align: right;">
      <a href="{% url 'all_apps'%}{{ cx_platform|safe }}#downloads">more top downloads &raquo;</a>
    </div>
  </div>
{% endblock %}
