{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if expect_app_name %}
        - Submit a New Release
    {% else %}
        - Submit a Bundle
    {% endif %}
{% endblock %}
    
{% block more_head %}
    <style type="text/css">
        #instructions { display: none; }
        #loading { display: none; }
        #instructions li { margin-bottom: 1em; }
    </style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      {% if expect_app_name %}
      <h1>
        Submit a New Release
        <small>{{ expect_app_name }}</small>
      </h1>
      {% else %}
      <h1>Submit a Bundle</h1>
      {% endif %}
    </div>
  </div>
</div>
    
{% if error_msg %}
<div class="row">
  <div class="span8">
    <div class="alert alert-error">
      The file you submitted {% autoescape off %}{{ error_msg }}{% endautoescape %}.
    </div>
  </div>
</div>
{% endif %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% if expect_app_name %}
    <input type="hidden" name="expect_app_name" value="{{ expect_app_name }}">
  {% endif %}
  <div class="row">
    <div class="span12">
      Your bundle .whl file:
      <input type="file" name="file" id="input-file" class="span8">
    </div>
  </div>
  <div id="instructions">
    <div class="row">
      <div class="span12">
        <h5>When you click Submit, the Toolshed will check your wheel's manifest file for the following things:</h5>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <ul>
          <li>Bundle name</li>
          <li>Bundle version</li>
          <li>Compatible version of ChimeraX</li>
          <li>Dependencies on other bundles</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <button type="submit" class="btn btn-primary">Submit</button>
        <div id="loading">
          <img src="{% get_static_prefix %}common/img/loading.gif">
        </div>
      </div>
    </div>
  </div>
</form>
<br />
    <div class="row">
        <div class="span8">
            <span class="label label-warning"><i class="icon-info-sign icon-white"></i> Notice</span>
            Uploading a bundle using certain browsers/OS combinations may cause a hang or timeout. 
            We have only seen this with linux distros so far. So, if your upload hangs, please 
            consider trying the upload from a different system.
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            var instructions_tag = $('#instructions');
            var loading_tag = $('#loading');
            var file_field = $('form input[type=file]');
            var submit_btn = $('button[type=submit]');
            
            $('form').submit(function() {
                submit_btn.hide();
                loading_tag.show();
            })
            
            file_field.change(function() {
                instructions_tag.show('slow', 'linear');
                if (file_field.val())
                  submit_btn.removeAttr('disabled');
                else
                  submit_btn.attr('disabled', 'true');
            });
        });
    </script>
{% endblock %}
